[run]
branch = True
source = analytics_service
omit =
    analytics_service/test_*.py
    */__init__.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
